<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>laptop</title>
</head>
<body>
    
    <center>
        <h1> this is the laptop html page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consectetur architecto omnis unde totam ullam quam porro quas eveniet incidunt adipisci harum, nesciunt officiis temporibus expedita voluptatem rerum ipsam rem!</p>
        <a href="{% url 'mobile' %}">navigation to mobile</a>
    </center>
</body>
</html>